@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #252625;
}
button {
  cursor: pointer;
}
.commonPadding {
  padding: 0px 10px;
}
.boxShadow {
  -webkit-box-shadow: 6px 8px 15px -16px rgba(0, 0, 0, 0.43);
  box-shadow: 6px 8px 15px -16px rgba(0, 0, 0, 0.43);
}
.headerBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px;
  color: #fff;
  background-color: #030e04;
  z-index: 1;
}
.dashboardWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 42px;
}
.itemsContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itemWrapper {
  background-color: #fff;
  width: 400px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  color: #585858;
  font-size: 13px;
  min-height: 480px;
  position: relative;
}
.itemFooter,
.itemHeader {
  height: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.itemHeader {
  justify-content: flex-start;
  font-size: 14px;
}
.itemFooter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}
.actionButton {
  background-color: #3baa3f;
  width: 30%;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.imageWrapper {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 100%;
}
.cartButton {
  width: 50px;
  font-size: 24px;
}
.spinner {
  font-size: 42px;
  animation-name: spinn;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
.spinnerWrapper {
  padding: 20px;
}
.descWrapper {
  width: 100%;
  padding-top: 10px;
  position: absolute;
  bottom: 42px;
}
.descRow {
  display: flex;
  height: 28px;
}
.descHeaderName {
  width: 30%;
}
.descHeaderName::after {
  content: ":";
}
.descHeaderName,
.descValue {
  display: flex;
  align-items: center;
}
.mrp,
.price {
  font-size: 18px;
}
.mrp {
  text-decoration: line-through;
  opacity: 0.8;
  margin-right: 10px;
}
.cartMenuWrapper {
  position: relative;
}
.cartNotification {
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid #3baa3f;
  background-color: #f8fff8;
  color: #3baa3f;
  right: 0%;
  top: 120%;
  padding: 10px;
}

@keyframes spinn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.cartFooter {
  display: flex;
  justify-content: flex-end;
}
.cartFooter button {
  background-color: #3baa3f;
  border: none;
  padding: 10px;
  color: #fff;
}
.cartCount {
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartItem {
  padding: 20px;
  min-height: 200px;
  max-width: 50vw;
}
